.centerAlign{
   text-align: center;
}

.error{
    color: red;
}
.center{
    justify-content: center;
  }

  *{
      text-align: center;

  }

  .fontSize{
      font-size: 24px;
      padding-bottom: 12px;
  }

  .matCard{
   margin: auto;
   width: 60%;
   box-shadow: none;
      }

  
