<!-- Footer -->
<footer class="footerSection page-footer font-small blue pt-4 pl-5">
  
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <img src="assets/images/midland.jpg" align = "left" class="footerLogo">
    <!-- Grid row -->
    <div class="row">
    
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
      
        <!-- Content -->
        <h5 class="text-uppercase">Tech Warriors</h5>
        <p class="footerDescription">For questions about the website, code school, or Midland University, contact us at info@midlandu.edu.</p>
        </div>
    </div>
          
          <!-- Grid row -->
      
  </div>
      
       
        <!-- Copyright --> 
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
          <a href="#"> TechWarriors.com</a>
        </div>
       
      
</footer>

