.footerSection{
    background-color: #ee7623;
    color: white;
}
.content{
    text-align: center;
}
.footerDescription{
    display: inline-block;
}

a{
    color: white;
}

.footerLogo{
    border-radius: 5px;
    background-color: white;
    padding: 5px;
    margin-right: 10px;
    width: 100px; 
    
}

@media (max-width: 768px) {
    .links {
        display: none;
    }
    
    .footerSection {
        margin: 0px;
        padding: 0px;
    }
  }

  //@media (max-width: 768px) {
   // .left {
    //  flex-basis: 100%;
    //}
