.main {
  width: 60vw;
  margin-left: calc(50% - 30vw);
}

.background {
  background-image: linear-gradient(#0e2340,  #EE7623);
 }
 .full-page {
  height: 100vh;
 }
 table {
    width:100%;
    border-style: solid;
    border-width: 3px;
    border-color: #0e2340;
  }
  .tableHeader{
    font-size: 20px;
    text-align: center;
  }
  .center{
    margin: auto;
    justify-content: center;
 }
 .fontSize{
  font-size: 24px;
 }
 *{
  text-align: center;
 }
 .matCard{
  margin: auto;
  width: 60%;
  padding-top: 10px;
 }

 .positioning {
   padding-top: 100px;
 }


  .dropzone { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    min-width: 60vw;
    font-weight: 200;
    height: 300px;
    border: 2px dashed #f16624;
    border-radius: 5px;
    background: white;
    margin: 10px 0;
  
    &.hovering {
        border: 2px solid #f16624;
        color: #dadada !important;
    }
  
    .file-label {
        font-size: 1.2em;
    }
  }
  
  progress::-webkit-progress-value {
    transition: width 0.1s ease;
  }

  .form{
    display: flex;
    align-items: left;
    padding-left: 20px;
    justify-content: left;
    flex-direction: column; 
    min-width: 80vw;
    font-weight: 200;
    height: 300px;
    background: white;
    margin: 10px 0;
  }
  .cen{
    justify-content: center;
  }

  .padding{
    margin: 1rem;
  }