
<div class="background">

  <div class="left">
  <mat-card class="transparent">
    <mat-card-title class="center"><b>Quiz Whip</b></mat-card-title>
    <mat-card-content>
      <p class="subtitle"><i>Create and manage quizes and tests</i></p>
      <p class="subtitle"><i>Sort through results and view the date of quizes taken</i></p>
      <p class="subtitle"><i>Easily share with students</i></p>
      <p class="subtitle"><i>Manage scores and track progress</i></p>
    </mat-card-content>
  </mat-card>
  <mat-card class="transparent">
      <mat-card-title class="center"><b>Brain Train</b> <img [routerLink]="['/learning/homepage']" class="arrow" src="./assets/images/arrow.png" width="50px"></mat-card-title>
      <mat-card-content>
          <p class="subtitle"><i>Share files and videos with classmates</i></p>
          <p class="subtitle"><i>Comment on content and add your own notes</i></p>
          <p class="subtitle"><i>Find learning content by topics</i></p>
          <p class="subtitle"><i>Available exclusively for Midland University students</i></p>
      </mat-card-content>
    </mat-card>
  </div>

  <img class="center-img" src="./assets/images/M.png">

  <div class="right">
  <mat-card class="right-card">
      <mat-card-title class="center">Log In</mat-card-title>
      <mat-card-content>
        <form class="center form">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" name="email" [(ngModel)]="email">
            <mat-hint>Please enter your email</mat-hint>
          </mat-form-field><br>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" name="password" [(ngModel)]="password" type="password">
            <mat-hint *ngIf="error === false">{{userMessage}}</mat-hint>
            <mat-hint *ngIf="error === true" class="redtext">{{userMessage}}</mat-hint>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions class ="center">
        <button class="button" mat-raised-button (click)="tryLogin()" color="primary">LOGIN</button>
        <a class="button" [routerLink]="[ '/register' ]" routerLinkActive="active"><button mat-raised-button color="accent">REGISTER</button></a>
      </mat-card-actions>
    </mat-card>
  </div>

</div>
<div *ngIf="error">
  <p>{{error}}</p>
</div>