@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap');

.full-page{
  width: 60%;
  margin: 0 auto;
}

.background {
  background-image: linear-gradient(#0e2340,  #EE7623);
  min-height: 100vh;
  background-size: cover;
}

.quizID {
  word-break: break-word;
}

.matCard{
  margin: auto;
  box-shadow: none;
}

.createQuiz {
  height: 180px;
}

.white{
  background-color: white;
}

.see-through {
  background-color: rgba(0,0,0,0)
}

.flexBox {
display: flex;
}

.align {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.textInput{
  width: 60%;
}

.titleFont {
  font-size: 24px;
}
  
.center {
  text-align: center;
  justify-content: center; 
}

.width{
  // width: 70%;
}
  
.centerTitle{
  justify-content: center;
}

.btnMargin {
  margin: 1.5em;
}

.mat-form-field{
  // margin-left: 10px;
}

table {
  width: 100%;
  // margin: 10px;
}

.flex{
  display: flex;
  flex-flow: row wrap;
}
.float{
  float: left;
}

.questionText{
  font-weight: 600;
  font-size: 18px;
  font-size-adjust: inherit;
}
.padding{
  padding: 1.5em;
}

.questionField{
  width: 75%;
}

.createButton {
  box-shadow: 0px 0px 10px black;
}

.paragraphSpacing{
  line-height: 32px;  
}
#thankYou{
  visibility: hidden;
}

#visible { 
visibility: visible;
}
#hidden{
  visibility: hidden;
}
#sideBarContent{
  margin-bottom: 1em;
}


@media (max-width: 768px) {
  .flex {
    flex-flow: row wrap;
  }

  .matCard {
    width: 100%;
  }
}