table {
    width:100%;
    border-style: solid;
    border-width: 3px;
    border-color: #0e2340;
    
  }

  .tableHeader{
    font-size: 20px;
    text-align: center;
  
  }

  .center{
    margin: auto;
    justify-content: center;
}

.fontSize{
  font-size: 24px;
 
  
}

*{
  text-align: center;
}

.matCard{
  margin: auto;
  width: 60%;
  margin-top: 10px
}